<h2 class="content-block">Add Tenant</h2>
<div class="content-block responsive-paddings">
    <form class="create-account-form" (submit)="onSubmit($event)">
        <dx-form [formData]="formData" [showValidationSummary]="true" [colCount]="2" [disabled]="loading">

            <dxi-item dataField="name" editorType="dxTextBox"
                [editorOptions]="{ stylingMode: 'outlined', placeholder: 'Name',  }">
                <dxi-validation-rule type="required" message="Name is required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="code" editorType="dxTextBox"
                [editorOptions]="{ stylingMode: 'outlined', placeholder: 'Code' }">
                <dxi-validation-rule type="required" message="Code is required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="address" editorType="dxTextBox" [colSpan]="2"
                [editorOptions]="{ stylingMode: 'outlined', placeholder: 'Address'}">
                <dxi-validation-rule type="required" message="Address is required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="connectionString" editorType="dxTextBox"
                [editorOptions]="{ stylingMode: 'outlined', placeholder: 'Connection String' }">
                <dxi-validation-rule type="required" message="Connection String is required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="creationDate" editorType="dxDateBox"
                [editorOptions]="{ stylingMode: 'outlined', placeholder: 'Creation Date' }">
                <dxi-validation-rule type="required" message="Creation Date is required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="dataBaseType" editorType="dxNumberBox"
                [editorOptions]="{ stylingMode: 'outlined', placeholder: 'DataBase Type' }">
                <dxi-validation-rule type="required" message="DataBase Type is required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="type" editorType="dxNumberBox"
                [editorOptions]="{ stylingMode: 'outlined', placeholder: 'Type' }">
                <dxi-validation-rule type="required" message="Type is required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="explanation" editorType="dxTextBox" [colSpan]="2"
                [editorOptions]="{ stylingMode: 'outlined', placeholder: 'Explanation' }">
                <dxi-validation-rule type="required" message="Explanation is required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="passiveReason" editorType="dxTextBox" [colSpan]="2"
                [editorOptions]="{ stylingMode: 'outlined', placeholder: 'Passive Reason' }">
                <dxi-validation-rule type="required" message="Passive Reason is required"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="isActive" editorType="dxCheckBox"
                [editorOptions]="{ stylingMode: 'outlined', text: 'Is Active' }">
                <dxo-label [visible]="false"></dxo-label>
            </dxi-item>
            <dxi-item dataField="isOnlyTenant" editorType="dxCheckBox"
                [editorOptions]="{ stylingMode: 'outlined', text: 'Is Only Tenant' }">
                <dxo-label [visible]="false"></dxo-label>
            </dxi-item>
            <dxi-item dataField="isSharedDataBase" editorType="dxCheckBox"
                [editorOptions]="{ stylingMode: 'outlined', text: 'Is Shared Database' }">
                <dxo-label [visible]="false"></dxo-label>
            </dxi-item>

            <dxi-item itemType="button" [buttonOptions]="{useSubmitBehavior: true, text: 'Add tenant', type: 'default'}">
            </dxi-item>
        </dx-form>
    </form>

</div>