<h2 class="content-block">Tenants</h2>
<div class="content-block row-container align-right flex">
    <dx-button text="Print" class="m-10" [rtlEnabled]="true" icon="print" stylingMode="filled" type="default"
        (onClick)="print()" />
    <dx-button text="Add Tenant" class="m-10" [rtlEnabled]="true" icon="plus" stylingMode="filled" type="default"
        (onClick)="addTenant()" />
</div>
<dx-data-grid class="content-block dx-card responsive-paddings" [dataSource]="dataSource" [showBorders]="true"
    [focusedRowEnabled]="true" [focusedRowIndex]="0" [columnAutoWidth]="true" [height]="600" [remoteOperations]="true"
    [columnHidingEnabled]="
    true">
    <dxo-paging [pageSize]="pageSize"></dxo-paging>
    <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-editing mode="form" [allowAdding]="false" [allowUpdating]="true" [allowDeleting]=" true">
    </dxo-editing>
    <dxi-column dataField="id" [width]="90" [hidingPriority]="2">
    </dxi-column>
    <dxi-column dataField="name" [width]="90" [hidingPriority]="2">
    </dxi-column>
    <dxi-column dataField="code" [width]="90" [hidingPriority]="8">
    </dxi-column>
    <dxi-column dataField="address" [width]="190" [hidingPriority]="8">
    </dxi-column>
    <dxi-column dataField="connectionString" [width]="190" [hidingPriority]="8">
    </dxi-column>
    <dxi-column dataField="type" [hidingPriority]="6">
    </dxi-column>
    <dxi-column dataField="isSharedDataBase" [allowSorting]="false" [hidingPriority]="5">
    </dxi-column>
    <dxi-column dataField="isActive" [allowSorting]="false" [hidingPriority]="5">
    </dxi-column>
    <dxi-column dataField="creationDate" dataType="date" [hidingPriority]="3">
    </dxi-column>
    <dxi-column type="buttons">
        <dxi-button hint="Edit" icon="edit" [onClick]="editTenant"></dxi-button>
        <dxi-button name="delete"></dxi-button>
    </dxi-column>
</dx-data-grid>